html
{
  box-sizing: border-box;
}

*,
*:before,
*:after
{
  box-sizing: inherit;
}
body
{
  width: 320px;
  margin: 0 auto;
}
.container
{
  padding: 0 30px;
}
.title-text
{
  @include textbold(25px, 30px);
}
