$opensansbold: "opensansbold", "Arial", sans-serif;
$opensans: "opensans", "Arial", sans-serif;


@font-face {
  font-family: "Opensans";
    src: url(../fonts/opensans.woff) format("woff"), url(../fonts/opensans.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: "Opensansbold";
    src: url(../fonts/opensansbold.woff) format("woff"), url(../fonts/opensansbold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}
// .page-title__text
// {
//   font-family: $opensansbold;
//   font-size: 27px;
//   line-height: 30px;
//   text-align: center;
//   color: #000000;
//   margin: 0;
// }
// .categories__link
// {
//   font-family: $opensansbold;
//   font-size: 19px;
//   line-height: 24px;
//
//   color: #ffffff;
//   width: 50%;
//   text-decoration: none;
// }
// .goods__title
// {
//   font-family: $opensansbold;
//   font-size: 25px;
//   line-height: 30px;
//   margin: 0;
//   color: #000000;
// }
// .goods__category
// {
//   font-family: $opensansbold;
//   font-size: 17px;
//   line-height: 20px;
//   text-transform: uppercase;
//
//   color: #63d1bb;
// }
// .goods__description
// {
//   font-family: $opensans;
//   font-size: 15px;
//   line-height: 24px;
//   color: #444444;
// }
// .goods__character
// {
//   font-family: $opensans;
//   font-size: 15px;
//   line-height: 20px;
//   color: #444444;
// }
// .goods__price
// {
//   font-family: $opensansbold;
//   font-size: 17px;
//   line-height: 24px;
//   color: #444444;
// }
// .button
// {
//   font-family: $opensansbold;
// }
