.about-us {

  // display: flex;
  // padding: 0 30px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    padding-bottom: 37px;
  }


  .about-us__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    @media (min-width: $tablet-width) {
      padding: 0 47px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      padding-left: 174px;
      padding-right: 174px;
      max-width: 1050px;

      // padding: 0;
      // padding-left: 170px;
    }
  }

  .about-us__list {
    margin: 0;
    padding: 0;
    list-style: none;
    // display: flex;
    // flex-direction: column;
    margin-top: 30px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 45px;
    }

    @media (min-width: $desktop-width) {
      align-items: baseline;
      align-content: flex-start;
      align-self: flex-start;
      max-width: 1050px;
    }
  }

  .about-us__list-item {
    @include textbold(17px, 20px);
    padding-top: 58px;
    margin-bottom: 25px;
    text-align: left;
    position: relative;

    &--flower {
      @media (min-width: $tablet-width) {
        order: 1;
      }
    }

    &--money {
      @media (min-width: $tablet-width) {
        order: 3;
      }
    }

    &--likes {
      @media (min-width: $tablet-width) {
        order: 5;
      }
    }

    &--ball {
      @media (min-width: $tablet-width) {
        order: 2;
      }
    }

    &--rocket {
      @media (min-width: $tablet-width) {
        order: 4;
      }
    }

    &--gift {
      @media (min-width: $tablet-width) {
        order: 6;
      }
    }
    // &--flower {
    //   @media (min-width: $tablet-width) {
    //     order: 1;
    //   }
    // }


    &--flower::before {
      position: absolute;
      top: 0;
      left: 8px;
      width: 50px;
      height: 40px;
      content: "";
      background: url("../img/icon-feature-flower.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 4px;
        left: 12px;
        letter-spacing: 0.01em;
      }
    }

    &--money::before {
      position: absolute;
      top: 4px;
      left: 0;
      width: 50px;
      height: 40px;
      content: "";
      background: url("../img/icon-feature-money.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 5px;
        left: 4px;
      }
    }

    &--likes::before {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 50px;
      height: 40px;
      content: "";
      background: url("../img/icon-feature-heart.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 9px;
        left: 11px;
      }
    }

    &--ball::before {
      position: absolute;
      top: 5px;
      left: 4px;
      width: 50px;
      height: 40px;
      content: "";
      background: url("../img/icon-feature-ball.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 7px;
        left: 3px;
      }
    }

    &--rocket::before {
      position: absolute;
      top: 6px;
      left: -5px;
      width: 55px;
      height: 40px;
      content: "";
      background: url("../img/icon-feature-rocket.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 8px;
        left: -6px;
      }
    }

    &--gift::before {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 55px;
      height: 40px;
      content: "";
      background: url("../img/icon-feature-gift.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 6px;
        left: 3px;
      }
    }

    @media (min-width: $tablet-width) {
      @include textbold(20px, 22px);
      min-height: 115px;
      margin-bottom: 40px;
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
      // margin-right: 112px;
      align-self: flex-start;
      max-width: 351px;
    }
  }
}
