.about-us {

  // display: flex;
  // padding: 0 30px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  // @media (min-width: $tablet-width) {
  //   padding: 0 50px;
  // }
  //
  // @media (min-width: $desktop-width) {
  //   margin: 0 auto;
  //   width: 100%;
  //   padding-left: 223px;
  //
  //   // padding: 0;
  //   // padding-left: 170px;
  // }

  .about-us__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    @media (min-width: $tablet-width) {
      padding: 0 50px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      padding-left: 174px;
      max-width: 1050px;

      // padding: 0;
      // padding-left: 170px;
    }
  }

  .about-us__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 350px;
    }
  }

  .about-us__list-item {
    @include textbold(17px, 20px);
    padding-top: 70px;
    text-align: left;

    @media (min-width: $tablet-width) {
      @include textbold(20px, 22px);
      width: 45%;
    }
  }
}
