.button
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-height: 50px;
  border: 2px solid #444444;
  font-family: "opensansbold", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  cursor: pointer;
  &--prev,
  &--next
  {
    width: 50%;
    border: 1px solid #ececec;
    font-size: 0;
  }
  &--prev
  {
    background-image: url(../img/icon-left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-right: 0px;
  }
  &--next
  {
    background-image: url(../img/icon-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

}
