.catalog {
  width: 100%;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 88px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 30px;
    padding-bottom: 90px;

    @media (min-width: $tablet-width) {
      padding: 0 50px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      width: 1050px;
      padding: 0;
      margin: 0 auto;
    }
  }

  .catalog__item {
    border: 1px solid #ededed;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      min-height: 334px;
      margin-bottom: 55px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 315px;
      flex-direction: column;
      // align-items: stretch;
      justify-content: space-between;
    }
  }

  .catalog__link {
    width: 100%;

    @include textbold(17px, 24px);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $color-black;

    @media (min-width: $tablet-width) {
      width: 335px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  .catalog__image {
    border-bottom: 1px solid #ededed;
  }

  .catalog__title {
    @include textbold(17px, 24px);
    // text-align: center;
    margin: 0;
    margin-top: 26px;
    padding-right: 3px;

    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  .catalog__features {
    @include textnormal(13px, 30px);
    color: $color-grey;
    // padding-left: 27px;
    margin-top: 4px;

    @media (min-width: $tablet-width) {
      padding-left: 0;
    }
  }

  .catalog__box {
    padding: 0 25px;

    @media (min-width: $tablet-width) {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      padding: 0 20px;
      min-height: 200px;
    }
  }

  .catalog__price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 1px solid #ededed;
    padding: 27px 0;

    @media (min-width: $tablet-width) {
      padding-left: 0;
      margin: 0;
      margin-top: auto;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      justify-content: space-between;
    }
  }

  .catalog__price-value {
    @include textbold(15px, 24px);
  }
}
