.contacts
{
  display: flex;
  flex-direction: column;
  @include  textnormal(15px, 30px);
  color: $color-grey;
  // margin-bottom: 40px;
  .title-text
  {
    @include textbold(18px,30px);
  }
  .contacts__email,
  .contacts__adress
  {
    display: flex;
    flex-direction: row;
  }
  .adress-value
  {
    margin: 0;
    margin-left: 30px;
    text-align: left;
  }
  .email-value
  {
    margin-left: 30px;
  }
}
