.footer {
  background: $color-light-grey;


  &--hiden {
    @media (min-width: $tablet-width) {
      visibility: hidden;
    }
  }

  @media (min-width: $desktop-width) {
    visibility: visible;
  }

  .footer__logo {
    width: 110px;
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      height: 36px;
    }
  }

  .footer__logo-svg {
    display: none;

    &:hover {
      fill: $color-aqua;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  .footer__wrapper {
    // width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      // max-width: 1150px;
      align-items: center;
      padding: 27px 50px;
      // padding-top: 27px;
      flex-direction: row;
    }

    @media (min-width: $desktop-width) {
      max-width: 1150px;
      padding: 29px 50px;
      flex-direction: row;
    }
  }
}
