.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form__fieldset {
    width: 100%;
    padding: 15px 0;
    // padding: 0 30px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding: 50px 0;

      &:nth-child(even) {
        background-color: $color-light-grey;
      }

      &--contacts {
        flex-wrap: wrap;
      }
    }
    // background: grey;
  }

  .form__section {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      &--wrap {
        flex-wrap: wrap;
      }
    }
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    // padding: 0 30px;
    align-items: flex-start;

    &--contacts {
      margin-bottom: 10px;
    }

    @media (min-width: $tablet-width) {
      margin-left: 100px;

      &--row {
        flex-direction: row;
      }

      &--names {
        display: flex;
        width: 100%;
      }

      &--contacts {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
      }
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  .form__wrapper-names {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: center;
    }
  }

  .form__title {
    @include textbold(17px, 16px);
    color: $color-aqua;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    padding-right: 20px;
    display: inline-block;
    background-color: white;

    @media (min-width: $tablet-width) {
      background-color: inherit;

      &--phone {
        order: 0;
        width: 100px;
      }

      &--email {
        order: 2;
        width: 100px;
      }
    }

    @media (min-width: $desktop-width) {

      min-width: 174px;
      text-align: center;

      &--email {
        padding-left: 25px;
      }
    }

    // @media (min-width: $desktop-width) {
    //   width: 174px;
    //   text-align: center;
    // }

    &--phone {
      order: 0;
      // width: 100px;

      // @media (min-width: $desktop-width) {
      //   width: 174px;
      //   text-align: center;
      // }
    }

    &--email {
      order: 2;
      width: 100px;

      // @media (min-width: $desktop-width) {
      //   width: 174px;
      //   text-align: center;
      // }
    }

    &::after {
      content: "";
      width: 259px;
      height: 1px;
      display: block;
      position: absolute;
      top: 10px;
      background: $color-aqua;
      z-index: -2;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  .form__text {
    // padding: 0 30px;
  }

  .form__hidden {
    display: none;
  }

  .form__label {
    padding-left: 62px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    @include textbold(17px, 18px);

    @media (min-width: $tablet-width) {
      min-width: 204px;
      padding-left: 82px;

      @include textbold(19px, 18px);
      margin-right: 30px;
    }
  }

  .form__label-name {

    margin-right: 20px;

    @include textbold(17px, 18px);

    // @media (min-width: $tablet-width) {
    //   @include textbold(19px, 18px);
    // }
  }

  .form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-black;
    padding: 9px 0;
    background: inherit;
    color: $color-grey;

    @include textnormal(17px, 18px);

    &--phone {
      order: 1;
    }

    &--email {
      order: 3;
    }

    @media (min-width: $tablet-width) {
      &--phone {
        margin-left: 80px;
      }

      &--email {
        margin-left: 80px;
      }
    }

    @media (min-width: $desktop-width) {
      &--phone {
        margin-left: 0;
      }

      &--email {
        margin-left: 0;
      }
    }
  }

  .form__footer {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .form__textarea {
    width: 100%;
    border: 1px solid $color-grey;
    padding: 10px 15px;
  }

  .form__button {
    background: inherit;

    @media (min-width: $desktop-width) {
      margin: 0 auto;
    }
  }

  .form__annotation {
    @media (min-width: $desktop-width) {
      margin-left: auto;
    }
  }

  input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
    border: 1px solid;
  }

  input[type="checkbox"]:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
    vertical-align: top;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    border: 1px solid black;

    @media (min-width: $tablet-width) {
      height: 52px;
      width: 52px;
    }
  }

  input[type="radio"] + label::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 19px;
    display: none;
    vertical-align: top;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $color-aqua;

    @media (min-width: $tablet-width) {
      height: 21px;
      width: 21px;
      left: 16px;
      top: 22px;
    }
  }

  input[type="radio"]:checked + label::after {
    display: inline-block;
  }
}
