.goods
{
  display: flex;
  flex-direction: column;
  .goods__title
  {
    @include textbold(25px, 30px);
    margin-bottom: 5px;
    color: #000;
  }
  .goods__category
  {
    @include textbold(17px, 20px);
    color: #63d1bb;
    text-transform: uppercase;
  }
  .goods__description
  {
    @include textnormal(15px, 24px);
    color: #444444;
  }
  .goods__character
  {
    display: flex;
  }
  .goods__price
  {
    @include textbold(17px, 24px);
    text-align: center;
  }
}
