.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // padding: 0 30px;
  // align-items: center;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  min-height: 79px;
  border-bottom: 1px solid #ececec;
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 21px;


  @media (min-width: $tablet-width) {
    padding: 0 50px;
    min-height: 89px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-bottom: none;
  }

  .header-nav__list {
    // position: absolute;
    border-top: 1px solid #ececec;
    margin-top: 40px;
    // top: 80px;
    // left: 0;
    z-index: 2;

    @media (min-width: $tablet-width) {
      position: static;
      // align-self: center;
      margin-top: 0;
      align-items: center;
      border-top: none;
    }
  }

  .header-nav__logo {
    margin-right: 86px;
    width: 86px;
    font-size: 0;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      display: flex;
      width: auto;
    }

    &--hidden {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  .header-nav__toggle {
    font-size: 0;
    width: 20px;
    height: 20px;
    margin-right: 30px;
    margin-top: 11px;
    // margin-left: auto;

    &--open {
      background: url("../img/icon-menu-open.svg") no-repeat;
      margin-left: -15px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--close {
      background: url("../img/icon-menu-close.svg") no-repeat;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--no-js {
      visibility: hidden;
    }
  }
}
