.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    // padding: 0;
  }

  .header-nav__logo {
    margin-left: auto;
    width: 88px;
    height: 40px;
    display: block;
    background: url("../img/logo-mobile.svg") no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: 0;
      align-self: center;
    }

    &--hidden {
      display: block;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  .header-nav__toggle {
    font-size: 0;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      margin-left: 0;
    }

    &--open {
      background: url("../img/icon-menu-open.svg") no-repeat;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--close {
      background: url("../img/icon-menu-close.svg") no-repeat;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--no-js {
      background: url("../img/icon-menu-close.svg") no-repeat;
    }
  }

  .header-nav__list {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 2;

    @media (min-width: $tablet-width) {
      position: static;
    }
  }
}
