.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 20px;
  position: relative;

  .header-nav__logo {
    margin-left: auto;
  }

  .header-nav__toggle {
    font-size: 0;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;

    &--open {
      background: url("../img/icon-menu-open.svg") no-repeat;
    }

    &--close {
      background: url("../img/icon-menu-close.svg") no-repeat;
    }
  }

  .header-nav__list {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 2;
  }
}
