.reviews
{
  .reviews__item
  {
    margin: 0;
    margin-bottom: 40px;
  }
  .reviews__text
  {
    @include textnormal(17px, 30px);
    color: #444444;
  }
  .reviews__author-name
  {
    @include textbold(17px, 30px);
    font-style: normal;
  }
  .reviews__author-adres
  {
    @include textnormal(17px, 30px);
    color: #444444;
  }
  .reviews__toggle
  {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
}
