.site-list {
  display: none;
  flex-direction: column;
  background-color: $color-white;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }

  &--show {
    display: flex;
  }

  .site-list__item {
    text-align: center;
    border-bottom: 1px solid $color-dark-grey;
    padding: 15px;

    &--logo {
      display: none;

      @media (min-width: $desktop-width) {
        order: 1;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      align-self: stretch;
      border: none;

      &--cart {
        padding-left: 80px;

        @media (min-width: $desktop-width) {
          order: 3;
        }
      }

      &--search {
        margin-left: auto;
        border-left: 1px solid $color-dark-grey;
        border-right: 1px solid $color-dark-grey;
        padding: 0 15px;

        @media (min-width: $desktop-width) {
          order: 2;
        }
      }

      &--logo {
        display: flex;
        margin-right: auto;
      }

      @media (min-width: $desktop-width) {
        &--logo {
          margin-right: 0;
        }

        &--search {
          margin-left: 0;
          padding: 0 15px;
        }
      }
    }

    &:first-child {
      border-top: 1px solid $color-dark-grey;

      @media (min-width: $tablet-width) {
        border: none;
      }
    }


    &:nth-child(2),
    &:nth-child(3) {
      @media (min-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    &:nth-child(2) {
      @media (min-width: $desktop-width) {
        border-right: 1px solid $color-dark-grey;
      }
    }
  }

  .site-list__link {
    text-decoration: none;
    font-family: $opensansbold;
    color: $color-black;
    font-size: 17px;
    line-height: 24px;
    padding: 20px 0;


    &--search {
      @media (min-width: $tablet-width) {
        font-size: 0;
        width: 40px;
        // height: 40px;
        display: flex;
        background-image: url("../img/icon-search.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--cart {
      @media (min-width: $tablet-width) {
        display: flex;
        margin-left: auto;
      }
    }

    @media (min-width: $tablet-width) {
      display: inline-flex;
      padding-right: 20px;
    }
  }
}
